{% extends 'base.html.twig' %}
    {% block head %}

    {% endblock %}

{% block main %}

    <div class="container">
        <H1>Ajout d'un contenu Statique</H1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>





{% endblock %}
