<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    {% include 'assets/style.html.twig' %}
    {% block head %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>

<header>
    <nav class="nav-extended">
    {% include 'default/menu.html.twig' %}
    <div class="nav-content alfa-fonce">
        <div class="container"><span class="nav-title">{% block titre %}{% endblock %}</span></div>

    </div>
    </nav>
</header>
<main>
    {% include 'default/flash-messages.html.twig' %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
    {% block main %}{% endblock %}
</main>
{% include 'default/footer.html.twig' %}


{% include 'assets/javascript.html.twig' %}
{% block javascript %}{% endblock %}
</body>
</html>
