<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}" />
    {% include 'assets/style.html.twig' %}
    {% block head %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

</head>
<body>

<header>
    {% include 'default/menu.html.twig' %}
</header>
<main>
    {% include 'default/flash-messages.html.twig' %}
    {% block main %}{% endblock %}
    {% block fos_user_content %}
    {% endblock fos_user_content %}
</main>
{% include 'default/footer.html.twig' %}


{% include 'assets/javascript.html.twig' %}
{% block javascript %}{% endblock %}
</body>
</html>
