<ul id="slide-out" class="side-nav alfa-electrique fixed">
    <li class="logo">
        <div><a id="logo-container" href="#" class="brand-logo center">
                <img id="front-page-logo" src="{{ asset('images/logoalfacarre.png') }}"></a></div>
    </li>


    <li class="bold"><a href="#" class="waves-effect waves-teal waves-bluealfa white-text">Actualités</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal waves-bluealfa white-text">Les compétitions</a></li>
    <li class="bold"><a href="#" class="waves-effect waves-teal waves-bluealfa white-text">Les Photos</a></li>
    <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal waves-bluealfa accent-4 white-text">Lutte</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#">Présentation</a></li>
                        <li><a href="#">Horraires / Tarifs</a></li>
                        <li><a href="#">Inscription</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal waves-bluealfa accent-4 white-text">Grappling-Fight</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#">Présentation</a></li>
                        <li><a href="#">Horraires / Tarifs</a></li>
                        <li><a href="#">Inscription</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal waves-bluealfa accent-4 white-text">Musculation</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#">Présentation</a></li>
                        <li><a href="#">Horraires / Tarifs</a></li>
                        <li><a href="#">Inscription</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header  waves-effect waves-teal waves-bluealfa accent-4 white-text">Fitness</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#">Présentation</a></li>
                        <li><a href="#">Horraires / Tarifs</a></li>
                        <li><a href="#">Inscription</a></li>
                    </ul>
                </div>
            </li>
            <li class="bold"><a class="collapsible-header waves-effect waves-teal waves-bluealfa white-text">Le Club</a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="#">Historique</a></li>
                        <li><a href="#">Palmarès</a></li>
                        <li><a href="#">Le Staff</a></li>
                        <li><a href="#">Nous Contacter</a></li>
                        <li><a href="#">Devenir bénévole</a></li>
                        <li><a href="#">Règlement intérieur</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
</ul>

<div class="fixed-action-btn" style="bottom: 15px; right: 15px;">
    <a id="menu" href="#" data-activates="slide-out"
       class="btn btn-floating btn-large pulse indigo darken-4 blue-grey-text text-lighten-5 button-collapse"><i
                class="material-icons">menu</i></a>
</div>
