/* Preloader */
.preloader-background {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;

  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.alfa-fonce{
  background-color: #0a1456;
}
.alfa-tres-fonce{
  background-color: #050c3f !important;
}
.alfa-electrique{
  background-color: #042dfb;
}
.alfa-fonce-text{
  color: #0a1456;
}
.alfa-tres-fonce-text{
  color: #050c3f !important;
}
.alfa-electrique-text{
  color: #042dfb;
}
.alfa-card{
  background-color: #545b89 !important;
}
html{
  font-family: 'Quicksand', sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
}

body {
  background: #fff;
}
header, main, footer, .preloader-background {
  padding-left: 300px;

}

nav .brand-logo{
  position: relative !important;
}
.nav-content{
  margin-bottom: 20px;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .fixed-action-btn{
    display: block;
  }
}
.activator{
  cursor: pointer;
}

/* PAGE D'ACCUEIL */

.container_accueil{
  padding: 20px;
}
.hr_encart
{
  border-color: #304ffe;
}
/* ALERTES */
.icon_style{
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  cursor:pointer;
}

/* ACTUALITES */

.container_actu{
  width: 85%;
}
.dcsns-toolbar{
  display: flex;
  justify-content: center;
}


