{% extends 'base.html.twig' %}
{% block title %}L'histoire du club{% endblock %}
{% block description %}Les dates qui ont marqué le club{% endblock %}
{% block titre %}L'histoire du club{% endblock %}

{% block main %}
<div class="b-histo">
    <div class="container ">
        <ul class="historique">
            {% if evenementHistoriques is defined %}
            {% for evenementHistorique in evenementHistoriques %}
                <div class="histo-hb">
                <li>
                    <div class="historique-header">
                    <div class="e-date">
                        <h5>{{ evenementHistorique.date }}</h5>  </div>
                        <div class="c-si-h">
                    <div class="si-h"></div>
                    </div>
                    </div> 
                </li>        
                <li> 
                    <div class="l-arrow">
                    <div class="arrow-up"></div></div>
                    <div class="historique-body">
                    <h3>{{ evenementHistorique.titre }}</h3>
                    <span>{{ evenementHistorique.description|raw }}</span></div>
                </li>
                </div>
            {% endfor %}
            {% else %}
                <p>Pas encore d'évènement historique, ajoutez-en dans l'interface d'administration</p>
            {% endif %}
        </ul>

    </div>
    </div>
    <script>
        $(document).ready(function(){
            $('.collapsible').collapsible();
        });
    </script>
{% endblock %}
