{% extends 'base.html.twig' %}
{% block title %}Commande de licences en ligne{% endblock %}
{% block description %}Commandez vos licences en ligne !{% endblock %}
{% block titre %}Commande de licence(s){% endblock %}

{% block main %}
    <div class="progress">
        <div class="determinate" style="width: 100%"></div>
    </div>
    <div class="container">
        <div class="row">
          <h2>Merci !</h2>
            <p>votre Commande N°{{ commande.numero }} a bien été enregistrée</p>
            <p>le staff va s'occuper de la vérifier et de la valider dans les plus brefs délais</p>
        </div>

    </div>




{% endblock %}
