
{% extends 'base.html.twig' %}
{%  block title %}Les Actualités du club{% endblock %}
{% block description %}Toutes les actualités du Club Alfa 44 {% endblock %}
{% block titre %}Le flux de photos{% endblock %}

{% block main %}

    <div class="container">
        <div class="row">

    {% for photo in photos %}
            <div class="col s12 m4">
                <img class="materialboxed responsive-img" src="{{ vich_uploader_asset(photo, 'imageFile')|imagine_filter('photos') }}">
            </div>
    {% endfor %}

        </div>
    </div>
{% endblock %}
